<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <style>
      div.column {
        width: 50%;
        float: left;
      }
    </style>
  </head>
  <body>
    <div id="badges1" class="column">
      <input id="firstName" class="username" type="text" />

    </div>
    <div id="badges2" class="column">
      <input id="secondName" class="username" type="text" />

    </div>
    <script>
      function newItem(item) {
        var ret = '';
        ret += "<div class='newItem'>";
        ret += "<div class='title'>"+item.badge_name+"</div>";
        ret += "<img src='"+item.media.badge_image_sm+"' width='90' />"
        ret += "</div>";
        return ret;
      }
      $(document).ready(function() {
        $(".username").change(function() {
          var node = $(this);
          $.get("/getbadges", {username: $(this).val()}, function(data) {
            response = JSON.parse(data);
            for (var item in response.response.items) {
              node.parent().append(newItem(response.response.items[item]));
            }
          });
        });
      });
    </script>
  </body>
</html>
