<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <style>
      div.column {
        width: 50%;
        float: left;
      }
    </style>
  </head>
  <body>
    <div id="badges1" class="column">
      <input id="firstName" class="username" type="text" />

    </div>
    <div id="badges2" class="column">
      <input id="secondName" class="username" type="text" />

    </div>
    <script>
      var badges = {};
      var allBadges = {};
      function newItem(item) {
        var ret = '';
        ret += "<div class='newItem'>";
        ret += "<div class='title'>"+item.badge_name+"</div>";
        ret += "<img src='"+item.media.badge_image_sm+"' width='90' />"
        ret += "</div>";
        return ret;
      }
      $(document).ready(function() {
        $(".username").change(function() {
          var node = $(this);
          $.get("/getbadges", {username: $(this).val()}, function(data) {
            badges[node.val()] = [];
            response = JSON.parse(data);
            for (var item in response.response.items) {
              badges[node.val()].push(response.response.items[item]);
              allBadges[response.response.items[item].badge_name] = response.response.items[item];
            }
            badges[node.val()].sort(function(a, b){
              if (a.badge_name < b.badge_name) {
                return -1;
              } else if (a.badge_name > b.badge_name) {
                return 1;
              } else {
                return 0;
              }
            });
            for (var item in badges[node.val()]) {
              node.parent().append(newItem(badges[node.val()][item]));
            }
          });
        });
      });
    </script>
  </body>
</html>
